body, html{
  font-family: 'Proxima Nova', sans-serif !important;
	margin: 0;
}

div{
  width: 100%;
  height: 100%;
}

textarea{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    background-color: #dedede !important;
}

.header{
  width: 100%;
  padding: 30px 0px;
  background-color: #4ECDC4;
  color: white;
  text-align: center;
  font-size: 2em;
  height: 50px;
  text-shadow: none;
}

td{
 border-bottom: solid 1px #dedede;
 border-right: 1px solid #dedede;
}

.txtInput{
  height: 150px;
  padding: 0px;
  background-color: #fff;
}

#tblCalendar{
  border-collapse: collapse;
}

tbody tr:first-child {
	height: 66px;
}

.blank th {
	padding: 0;
	height: 65px;
}

.tableHead.scroll {
	position: fixed;
	top: 0;
	right: 0;
}

.tableHead.scroll th {
	width: 10%;
}

th{
  padding: 20px 0px;
  background-color: #efefef;
  border-color: #dedede;
  color: #777;
  text-shadow: none;
  font-size: 1.2em;
  font-weight: 300;
  border-bottom: solid 1px #dedede;
}

.topicHeader{
  width: 18%;
  border-right: 1px solid #dedede;
}

.timeHeader{
  width: 16.4%;
  border-top: solid 1px #dedede;
}

.iconEdit {
	margin-top: 40px;
}

.icon-pencil {
	width: 24px;
	height: 24px;
	fill: #777;
	cursor: pointer;
	transition: all .2s;
}

.icon-pencil:hover {
	fill: #cdae20;
}

.footer {
	padding: 30px;
	text-align: center;
}

.addTopic {
	border: 0;
	background: #4ECDC4;
	border-radius: 30px;
	padding: 10px 30px;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	transition: all .2s;
}

.addTopic:hover {
	background-color: #3fa49d;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.modal__box {
	width: 50%;
	height: auto;
	background: #efefef;
	padding: 2rem;
	border-radius: 10px;
	z-index: 500;
}

.modal.open {
	display: flex;
}

.modal__box h2 {
	margin-top: 0;
	text-align: left;
}

.modal__textarea {
	height: 200px;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: left;
	margin-bottom: 1rem;
}

.no-scroll {
	overflow: hidden;
	position: relative;
}

.modal {
	text-align: center;
}
